<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ">
    <div class="container-fluid">
        <a routerLink="/home-page" routerLinkActive="selected" class="nav-link " href="#">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit; color: white; font-size: 28px;">Invest</font>
            </font>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Alternar de navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Dashboard</font>
                        </font>
                    </a>
                </li>
            </ul>
            <form class="d-flex">
                <input  #CaixaBusca (input)="buscador(CaixaBusca.value)" class="form-control me-2" type="search" placeholder="Procurar" aria-label="Procurar">
                
                <button class="btn btn-outline-success" type="submit" routerLink="/ResultadoBusca">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Procurar</font>
                    </font>
                </button>
            </form>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>